<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
</head>
<body>
    <div class="w-full bg-zinc-900 h-screen text-white p-10" >
        <h2 class="text-2xl mb-1">Login</h2>
        <form action="/login" method="post" class="">

            <input type="email" placeholder="Email" class="border px-3 py-2   border-zinc-600 bg-transparent rounded-md outline-none " name="email">
            <input type="password" placeholder="Password" class="border px-3 py-2  border-zinc-600 bg-transparent rounded-md outline-none " name="password">
            <input type="submit" name="" id="" value="Login" class="px-5 py-2 bg-amber-500 rounded-md">
        </form>
       
    </div>
    
</body>
</html>